.shoe_category_stage {
  perspective: 1600px;
  perspective-origin: 50% -50%;
  -webkit-perspective-origin: 50% -50%;
}

@media screen and (max-width: 900px) {
  .shoe_category_element {
    transform-style: preserve-3d;
    display: inline-grid;
    position: relative;
    width: 90vw;
    height: calc(80px + 2rem);
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }

  .shoe_category_element img {
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    transform: translateX(-20%) translateY(-50%) !important;
  }

  .shoe_category_element img {
    position: absolute;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    transform: translateX(-20%);
  }

  .shoe_category_stage a:hover .shoe_category_element{
    transform: rotateY(10deg) translateZ(20px);
    box-shadow: -10px 20px 20px var(--shadow);
  }
  
}

@media screen and (min-width: 900px) {
  .shoe_category_element {
    transform-style: preserve-3d;
    display: inline-grid;
    position: relative;
    width: 25vw;
    height: 70vh;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }

  .shoe_category_element img {
    position: absolute;
    left: 0;
    height: 100%;
    min-width: 100%;
    transform: translateX(-20%);
  }

  .shoe_category_stage a:hover .shoe_category_element{
    transform: translateY(-10px) rotateY(10deg) translateZ(20px);
    box-shadow: 0px 20px 20px var(--shadow);
  }
}

.shoe_category_name {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 2rem;
  color: var(--text-light);
}

.shoe_category_nb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
  background-color: white;
  transition: 0.5s ease-in-out;
}

.shoe_category_stage a {
    display: block;
    transform-style: preserve-3d;
    transition: 0.5s ease-in-out;
}

.shoe_category_stage a:hover .shoe_category_nb {
    padding: 0;
  opacity: 0;
}